/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap'); */

:root {
    --black: #000;
    --off-black: #1a1a1a;
    --grey: #999;
    --light: #eee;
    --canvas-color-dark: var(--black);
    --canvas-color-mid: var(--grey);
    --canvas-color-light: var(--light);
    --highlight: rebeccapurple;
    --highlight-light: #c2add6;
}

html {
    background: var(--off-black);
}

body {
    margin: 0 auto;
    max-width: 1000px;
}

main {
    position: relative;
}

section {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
}

canvas {
    z-index: -1;
    position: absolute;
    top: 0;
    background: var(--off-black);
}

h1, h2 {
    margin: 0;
    font-family: 'Rubik Dirt', cursive;
    font-weight: 400;
    text-align: center;
    color: var(--light);
    cursor: default;
    text-shadow: -1px -1px 2px var(--highlight),
                 -1px  1px 2px var(--highlight),
                  1px -1px 2px var(--highlight),
                  1px  1px 2px var(--highlight);
}

h1 {
    font-size: min(100px, 20vw);
}
h2 {
    font-size: min(40px, 18vw);
}

section:nth-of-type(1) nav {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 15px;
}

section:nth-of-type(1) button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.25s ease-out;
    background: radial-gradient(var(--highlight) 12px, transparent 12px), var(--light);
    background-size: 0, 100%;
    border: 0;
    margin: 10px;
}

section:nth-of-type(1) button:hover {
    background: radial-gradient(var(--highlight-light) 12px, transparent 12px), var(--light);
    background-size: 100%, 0;
}

section:nth-of-type(1) button.active {
    background-size: 100%, 0;
}

*::selection {
    background-color: var(--highlight);
}
